
.banner {
  display: block;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
}

.app__banner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 100vh;
}

.app__banner h1 {
  flex: 0.4;
  font-size: 5rem;
  margin: 10vh 2vw;
}

.contact {
  margin-left: 20vw;
  margin-bottom: 10vh;
}